h1(style="margin: 100px;font-size: 50px") survey 2
ul(style="margin: 0 100px;font-size: 20px; font-spacing: 3px") Survey: #{data.name}
    each val in data
        div NAME: #{val.name}
        div DESCRIPTION: #{val.description}
        div SCORE: #{val.average}
        br
