body {
    background-color: #000;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.title { 
    margin: 25px 25px 10px;
}

.subtitle {
    margin-left: 25px;
    color: #666;
    font-size: 20px;
}

.survey-group-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin-top: 25px;
    max-width: 1600px;
}

.button-group-container {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex; 
    justify-content: center;
}

.survey-results {
    position: relative;
    margin: 15px;
    padding: 15px;
    background-color: #000;
    width: 600px;
    border: 1px solid #333;
    border-radius: 10px;
}

.survey-results--name {
    font-size: 24px;
    color: #777;
}

.survey-results--description {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.survey-results--average {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 24px;
    color: #03a9f4;
}

.button--nav {
    margin: 15px;
    width: 225px;
    height: 40px;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.button--nav:hover {
    color: #03a9f4;
    background-color: #222;
    transition: all 0.2s
}

.rating-circles {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 10px;
}

.loading {
    text-align: center;
    margin-top: 200px;
}

@media only screen and (max-width: 950px) {
    .button-group-container {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin-left: 25px;
    }
}
